@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fefefc;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 100vh;
  margin: 0;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
}

.fa-coins {
  color: #1d3557;
  margin-left: 10px;
}

.lang-choice select,
.currency select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fefefc;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
  padding: 10px;
  padding-right: 30px;
}

h1 {
  color: #1d3557;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  text-align: center;
  width: 500px;
  max-width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-height: 100vh;
  width: 500px;
  max-width: 90%;
}

.btn {
  background-color: #fff;
  border: 1px solid #1d3557;
  border-radius: 50%;
  color: #1d3557;
  height: 40px;
  width: 40px;
  transition: transform 0.2s ease;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(0.5px);
}

.currency {
  display: flex;
  gap: 20px;
  padding: 15px;
}

.currency input {
  background-color: #fefefc;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 16px;
  padding-left: 10px;
}

.currency:last-of-type {
  margin-bottom: 20px;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.swap-rate-container.result {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.hidden {
  display: none;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}
