@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fefefc;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-height: 100vh;
  margin: 0;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
}

.fa-coins {
  color: #1d3557;
  margin-left: 10px;
}

h1 {
  color: #1d3557;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 3;
  max-width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currency {
  font-family: inherit;
  font-size: 38px;
  height: 30px;
  padding: 12px;
}

.currency input {
  font-family: inherit;
  background-color: #fefefc;
  border-radius: 3px;
}

.btn {
  cursor: pointer;
}
